Question 1.

Write a program to print 10, 10.0, “10.0”.  
Use the type() function to check the type of both.

What are the different types of 10 and "10"?

In [1]:
print(10)
print(10.0)
print("10")
print(type(10))
print(type(10.0))
print(type("10"))

10
10.0
10
<class 'int'>
<class 'float'>
<class 'str'>

10 is integer class, 10.0 is float class, and "10" is string class.

Question 2.

Print the expression that adds two integers, 5 and 10.
Concatenate two strings, '5' and '10', and print the result.

What is the difference between adding integers and concatenating strings?

In [ ]:
print(5 + 10)
print('5' + '10')

Adding integers will perform a mathematical operation. Adding strings will combine your two separate strings into one string.

Question 3. 

Verify if Python will accept the code below. Explain why or why not.  
                         ‘100’ + 50 
Make changes if needed and print the result.

In [14]:
'100' + 50

TypeError: can only concatenate str (not "int") to str

In [15]:
# Corrected version
100+50

150

You will receive a TypeError trying to add a string and integer.

Let x be ‘2’ and y be 100. 
Find the product of x and y and let the product have a variable name z. 
Concatenate it with ' is the same as 2x100.'. 
Make changes if needed and print the result.

In [16]:
x = '2'
y = 100
z = x*y

z + ' is the same as 2x100.'
print(z)

2222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222

In [18]:
# Corrected version
x = 2
y = 100
z = x*y

result = str(z) + ' is the same as 2x100.'
print(result)

200 is the same as 2x100.

What happens if you try to convert the string 'hello' to an integer? (answer on sheet)

In [19]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

You receive a value error because the int() function can only convert strings that represent valid numbers.

Question 4. 

Assign the value 25 to a variable called age.
Print the value of age.
Reassign age to a new value of 'twenty-five' (a string).
Print the new value and check its type.

How does Python handle changes in variable types?

In [ ]:
age = 25
print(age)

age = 'twenty-five'
print(age)
print(type(age))

Python handles variables dynamically at runtime unlike other programming languages such as Java or C++ that require variables to stay a specific type once declared. This flexibility in Python is known as "dynamic typing".

Question 5. 

Assign values to three variables a, b, and c in a single line using tuple assignment.
Print them in a single line, separated by commas.
Print them with custom formatting using the format() method, where a is left-aligned in 10 spaces and b and c are right-aligned in 10 spaces.

How does tuple assignment work?

In [ ]:
a, b, c = 10, 20, 30
print(a, b, c)
print('{0:<10} {1:>10} {2:>10}'.format(a, b, c))

Tuple assignment allows you to assign multiple variables at once in a single line. Values are assigned to the variables based on their position. When writing the values 10, 20, 30, Python will internally create a tuple (even though you don't write the parentheses) and "unpack" them when assigning them to each variable.

Question 6. 

Prompt the user to enter their name.
Use \n to print a greeting on two lines.
Additionally, use \t to print their name indented with a tab.
How do control codes like \n and \t change the output formatting?

In [ ]:
name = input("What is your name: ")
print("\nHi there,\n\t" + name + "!")

\n is useful for making new lines and \t is useful for indenting (inserting a tab).

Question 7. 

Write a program that asks the user to input two floating-point numbers.  
Apply addition, subtraction, multiplication, and division between two numbers.
Print the result of each operation after rounding it up to the thousandth place. 

What happens if the user enters integers instead of decimal numbers?

In [20]:
number_1 = float(input("Enter a floating point number: "))
number_2 = float(input("Enter another floating point number: "))

print("The sum is:", round(number_1 + number_2, 3))
print("The difference:", round(number_1 - number_2, 3))
print("The product is:", round(number_1 * number_2, 3))
print("The quotient:", round(number_1 / number_2, 3))

ValueError: could not convert string to float: ''

If the user enters integers instead of decimal numbers, the program still works because float() converts them to decimals, and the results are rounded to three decimal places.

If the integer is 0 the program will raise ZeroDivisionError.

In [ ]:
# How to handle zero

if number_2 != 0:   # If the second number is NOT equal to zero continue dividing
    print("Quotient:", round(number_1 / number_2, 3))
else:               # If the second number IS equal to zero stop to prevent crash
    print("Quotient is undefined - cannot divide by zero.")